body {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  background-color: #BBB;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifx;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
}

h1, h2, h3 {
  margin: 0px;
}

canvas {
  width: 100vw !important;
  height: 100vh !important;
}

.headroom {
  height: 3rem;
  width: 100%;
}

.right-aligned {
  text-align: right;
}

.container {
  padding: 2rem;
  border-radius: 0.5rem;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.vertical-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.horizontal-stack {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.title {
  text-align: center;
  margin: 0px;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.splash-image {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 60%;
  max-height: 500px;
  aspect-ratio: 1;
  padding: 1rem 0;
  background-color: #888;
  border-radius: 0.5rem;

  margin-top: 1rem;
  margin-bottom: 3rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  height: 4rem;
  width: 100%;
  flex-grow: 1;
  max-width: 400px;
  min-width: 200px;
}

.button:hover {
  border: 2px solid black;
}

.input {
  display: flex;
  flex-direction: column;
}

.input > label {
  padding-left: 0.5rem;
  font-size: 1rem;
}

.input > input {
  height: 4rem;
  width: 100%;
  flex-grow: 1;
  max-width: 400px;
  min-width: 200px;
  border-radius: 0.5rem;
  border: none;
  box-shadow: none;
  font-size: 2rem;
  text-align: center;
  background-color: #555;
}

.uppercase > input {
    text-transform: uppercase;
}

.avatar-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column dense;
  gap: 1rem;
}

.avatar-grid > div:nth-child(2) {
  grid-row: 1;
}

.avatar-img {
  display: flex;
  background-color: #888;
  border-radius: 0.5rem;
  height: 150px;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
}

.bg-white {
  background-color: white;
}

.monster-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
}

.pre-game-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #BBB;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  gap: 1em;
}

p {
  margin: 0px;
}

h2 {
  margin: 0px;
}

.profile-image {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.action-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em; 
}

.placeholder-image {
  width: 150px;
  height: 150px;

  background-color: white;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action {
  min-height: 4em;
  background-color: white;
  border-radius: 8px;
  padding: 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.double-width {
  grid-column: span 2;
}

.card-line {
  transform-origin: 75px 300px;
}

.card-one {
  transform: rotate(-40deg);
}

.card-two {
  transform: rotate(-20deg);
}

.card-three {
  transform: rotate(0deg);
}

.card-four {
  transform: rotate(20deg);
}

.card-five {
  transform: rotate(40deg);
}

.card {
  position: absolute;
  width: 150px;
  height: 300px;
  background-color: white;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  transform-origin: 75px 300px;
}

.back-button {
  align-self: flex-start;
  
  width: 50px;
  height: 50px;
  
  border-radius: 25px;
  background-color: white;
  
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.creature-container {
  width: 100%;
  background-color: white;
  border-radius: 1em;
  padding: 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.betting-row {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.betting-row > button {
  font-size: 40px;
  width: 40px;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 4px solid #555;
  color: #555;
}

.betting-row > button:disabled {
  border: 4px solid #eee;
  color: #eee;
}

.betting-row > input {
  border: none;
  text-align: center;
  font-size: 40px;
  width: 150px;
  border-radius: 8px;
}

.confirm-bets {
  width: 100%;
}

.emoji {
  font-size: 60px;
}

.loan-shark {
  width: 250px;
  height: 205px;

  background-color: white;

  border-radius: 1em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bio {
  font-style: italic;
  text-align: center;
}

.race-container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}