body {
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0px;
  background-color: #03193f;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serifx;
  color: #eee;
}

* {
  box-sizing: border-box;
  touch-action: manipulation;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
}

h1,
h2,
h3 {
  margin: 0px;
  text-align: center;
}

canvas {
  width: 100vw !important;
  height: 100dvh !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: #eee;
  background-image: url("/pkg/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

.root-container {
  width: 100dvw;
  min-height: 100svh;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.headroom {
  height: 3rem;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 16px;
}

.right-aligned {
  text-align: right;
}

.left-aligned {
  text-align: left;
}

.container {
  padding: 2rem;
  border-radius: 0.5rem;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.vertical-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.horizontal-stack {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.title {
  text-align: center;
  margin: 0px;
}

.full-screen {
  width: 100vw;
  min-height: 100dvh;
}

.splash-image {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 60%;
  max-height: 500px;
  aspect-ratio: 1;
  padding: 1rem 0;
  background-color: #888;
  border-radius: 0.5rem;

  margin-top: 1rem;
  margin-bottom: 3rem;
}

.button {
  border-radius: 8px;
  padding: 0.5em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 5px #db3ffd88;
  background-color: #db3ffd11;
  border: 2px solid #fdcbff44;

  color: #eee;

  font-size: 25px;

  width: 100%;
}

.button:hover {
  box-shadow: 0px 0px 5px #eee;
}

.input {
  display: flex;
  flex-direction: column;
}

.input > label {
  padding-left: 0.5rem;
  font-size: 1rem;
}

.input > input {
  height: 4rem;
  width: 100%;
  flex-grow: 1;
  max-width: 400px;
  min-width: 200px;
  border-radius: 0.5rem;
  border: none;
  box-shadow: none;
  font-size: 2rem;
  text-align: center;

  border: none;
  text-align: center;
  font-size: 40px;

  border-radius: 8px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 5px #db3ffd88;
  background-color: #db3ffd11;

  color: #eee;
}

.uppercase > input {
  text-transform: uppercase;
}

.avatar-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column dense;
  gap: 1rem;
}

.avatar-grid > div:nth-child(2) {
  grid-row: 1;
}

.avatar-img {
  display: flex;
  background-color: #888;
  border-radius: 0.5rem;
  height: 150px;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
}

.monster-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
}

.pre-game-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  gap: 1em;

  background-color: #7a09fa11;
}

.blurred {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: #03193f55;
}

p {
  margin: 0px;
}

h2 {
  margin: 0px;
}

.profile-image {
  width: 150px;
  height: 150px;

  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 5px #db3ffd88;
  background-color: #db3ffd11;
  border: 2px solid #fdcbff44;

  border-radius: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 5px #7a09fa66;
  background-color: #7a09fa11;
  padding: 0.5em 1em;
}

.action-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.placeholder-image {
  width: 150px;
  height: 150px;

  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 5px #7a09fa66;
  background-color: #7a09fa11;

  padding: 8px;
}

.placeholder-image > img {
  width: 100%;
  height: 100%;
}

.action {
  min-height: 4em;
  border-radius: 8px;
  padding: 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 5px #db3ffd88;
  background-color: #db3ffd11;
  border: 2px solid #fdcbff44;

  color: #eee;
  font-size: 1em;
}

.action:disabled {
  box-shadow: none;
  border: none;
}

.double-width {
  grid-column: span 2;
}

.card-line {
  transform-origin: 75px 300px;
}

.card {
  position: absolute;
  width: 150px;
  height: 200px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform-origin: 75px 200px;

  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 5px #db3ffd88;
  background-color: #db3ffd11;
  border: 2px solid #fdcbff44;
  border-radius: 8px;
  padding: 1em;

  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 1em;
  text-align: left;
  color: #eee;
  font-size: 16px;
}

.card:disabled {
  border: 2px solid #fdcbff00;
  box-shadow: none;
}

.card > img {
  align-self: center;
  width: 100px;
  height: 100px;
}

.card-carousel {
  padding: 0px 250px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  gap: 2em;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card-main {
  width: 250px;
  flex-shrink: 0;

  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 5px #db3ffd88;
  background-color: #db3ffd11;
  border: 2px solid #fdcbff44;
  border-radius: 8px;
  padding: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
  scroll-snap-align: center;

  font-size: 24px;
  color: #eee;
}

.card-main > img {
  align-self: center;
  width: 150px;
  height: 150px;
}

.back-button {
  align-self: flex-start;

  width: 50px;
  height: 50px;

  border-radius: 25px;

  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 5px #db3ffd88;
  background-color: #db3ffd11;
  border: 2px solid #fdcbff44;

  font-size: 2em;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.creature-container {
  width: 100%;
  border-radius: 1em;
  padding: 1em;

  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 5px #7a09fa66;
  background-color: #7a09fa11;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.betting-row {
  width: 100%;

  /* -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px); */

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.betting-row > button {
  font-size: 40px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

  border: none;

  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 5px #db3ffd88;
  background-color: #db3ffd11;
  border: 2px solid #fdcbff44;

  color: #eee;
}

.betting-row > button:disabled {
  box-shadow: none;
  border: none;
}

.betting-row > button:active {
  box-shadow: 0px 0px 5px #eee;
}

.betting-row > input {
  border: none;
  text-align: center;
  font-size: 40px;
  width: 150px;

  border-radius: 8px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 5px #db3ffd88;
  background-color: #db3ffd11;

  color: #eee;
}

.confirm-bets {
  width: 100%;
}

.emoji {
  font-size: 130px;
}

.loan-shark {
  width: 250px;
  height: 250px;

  /* 
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 5px #7a09fa66;
  background-color: #7a09fa11; */

  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/pkg/icons/shark.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bio {
  font-style: italic;
  text-align: center;
}

.race-container {
  width: 100%;
  height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.finance {
  display: grid;
  align-items: center;
  column-gap: 8px;
  grid-template-columns: repeat(2, auto);
}

input[type="number"] {
  -moz-appearance: textfield;
}

.space-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.countdown {
  width: 200px;
  height: 200px;

  border-radius: 100px;

  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 5px #7a09fa66;
  background-color: #7a09fa11;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 50px;
}

.payout-image {
  width: 150px;
  height: 150px;

  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 150px;
}

.payout-info {
  padding: 1em;
  border-radius: 1em;

  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 5px #7a09fa66;
  background-color: #7a09fa11;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.payout-amount {
  font-size: 40px;
}

.payout-table {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: right;
  align-items: center;
  font-size: 30px;
  row-gap: 0.25em;
  column-gap: 0.5em;
}

.server-status {
  width: 100%;
  min-height: 100dvh;
  padding: 2em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 5px #7a09fa66;
  background-color: #7a09fa11;

  gap: 2em;
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  height: 25px;
  border: 2px solid;
  box-sizing: border-box;
  border-radius: 50%;
  display: grid;
  animation: l2 2s infinite linear;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  border: inherit;
  border-radius: 50%;
  animation: inherit;
  animation-duration: 3s;
}
.loader:after {
  --s: -1;
}
@keyframes l2 {
  100% {
    transform: rotate(calc(var(--s, 1) * 1turn));
  }
}

.host-pre-game-container {
  width: 100%;
  min-height: 100dvh;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
}

.monster-stats-container {
  width: 500px;
  margin-top: 55dvh;

  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: stretch;
  border-radius: 16px;
  gap: 1em;

  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 5px #7a09fa66;
  background-color: #7a09fa11;

  text-shadow: 0px 1px 2px #000;
}

.monster-stats-row {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: 24px;
}

.space-between {
  justify-content: space-between;
}

.stat-bar-container {
  width: 75%;
  position: relative;
  display: flex;
  gap: 1%;
}

.stat-notch {
  height: 28px;
  width: 9%;

  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 1px 2px #000;
  font-size: 20px;
}

.stat-speed {
  background-color: #97d948ee;
}

.stat-strength {
  background-color: #ec473b;
}

.font-speed {
  font-style: bold;
  color: #97d948ee;
}

.font-strength {
  font-style: bold;
  color: #ec473b;
}

.host-results-container {
  width: 100%;
  min-height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.results-container {
  border-radius: 1em;
  padding: 1em;
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  box-shadow: 0px 0px 5px #7a09fa66;
  background-color: #20004562;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto 1em repeat(7, auto);
  font-size: 36px;
  font-weight: bold;
  justify-items: stretch;
  align-items: stretch;
  opacity: 1;
  transition: opacity 1s ease;
}

div .two-columns {
  grid-template-columns: repeat(4, auto) 2em repeat(4, auto);
}

.invisible {
  opacity: 0;
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  transition: opacity 1s ease;
}

.results-container > h1 {
  justify-self: center;
  grid-column: 1/-1;
  font-size: 64px;
}

.results-container > div {
  padding: 0.5em;
}

.results-container > .leaderboard-background:nth-of-type(odd) {
  background-color: #ac63ff2d;
  border-radius: 0.5em;
}

.card-target-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 24px;
  text-align: center;
}

.card-target {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 1em;
  font-size: 24px;

  border: none;

  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 5px #db3ffd88;
  background-color: #db3ffd11;
  border: 2px solid #fdcbff00;

  color: #eee;
}

.card-target:disabled {
  box-shadow: none;
  border: none;
}

.selected-target {
  border: 2px solid #fdcbff44;
  box-shadow: 0px 0px 5px #eee;
}

.target-confirm {
  padding: 8px;
  font-size: 16px;
}

.host-lobby-container {
  width: 100%;
  /* height: 100vh; */

  padding: 3em;

  display: grid;
  grid-template-columns: auto repeat(7, 1fr);
  grid-auto-rows: minmax(1fr, 300px);
  gap: 1em;
  justify-items: center;
  align-items: center;
}

.host-lobby-container > img {
  width: 300px;
  height: 300px;
  mix-blend-mode: lighten;
}

.host-lobby-player {
  padding: 1em;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 5px #d4aeff66;
  background-color: #7909fa29;
  border: 2px solid #eeeeee60;

  border-radius: 1em;

  font-size: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.host-pre-game-timer {
  margin-top: 1em;
  position: absolute;
  padding: 1em;
  border-radius: 1em;
  font-size: 32px;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  box-shadow: 0px 0px 5px #7a09fa66;
  background-color: #2000452a;
}

.host-race-container {
  width: 100%;
  min-height: 100dvh;
  padding: 0em 10em;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.race-card {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 5px #db3ffd88;
  background-color: #db3ffd11;
  border: 2px solid #fdcbff44;
  border-radius: 8px;
  padding: 1em;

  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 1em;
  text-align: left;
  color: #eee;
}

.flip-card {
  width: 350px;
  height: 500px;
  background-color: transparent;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card img {
  flex-grow: 1;
  flex-shrink: 1;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card.reveal .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 5px #db3ffd88;
  background-color: #db3ffd11;
  border: 2px solid #fdcbff44;
  border-radius: 8px;
  padding: 1em;

  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 1em;
  text-align: left;
  color: #eee;
}

/* Style the back side */
.flip-card-back {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 5px #db3ffd88;
  background-color: #db3ffd11;
  border: 2px solid #fdcbff44;
  border-radius: 8px;
  padding: 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 1em;
  text-align: center;
  color: #eee;
  transform: rotateY(180deg);

  font-size: 24px;
}

.victim-icon {
  width: 250px;
  height: 250px;
}
