({
  "world": File (path: "Scene.glb"),
  "models": Files (paths: [
    "library/Marker.glb",
    "library/Monster_Alien.glb",
    "library/Monster_Cactoro.glb",
    "library/Monster_Chicken.glb",
    "library/Monster_Fish.glb",
    "library/Monster_Green_Spiky.glb",
    "library/Monster_Mech.glb",
    "library/Monster_Mushnub.glb",
    "library/Monster_Pink_Slime.glb",
    "library/Monster_Yeti.glb",
    "library/Planet_11.glb",
    "library/Planet_3.glb",
    "library/Planet_6.glb",
    "library/Platform_2x2.glb",
    "library/Platform_4x1.glb",
    "library/Platform_4x2.glb",
    "library/Platform_4x4.glb",
    "library/Spectator.glb",
  ]),
  "skybox": File(path: "cubemap_01/skybox.ktx2"),
  "envmap_diffuse": File(path: "cubemap_01/diffuse_map.ktx2"),
  "envmap_specular": File(path: "cubemap_01/specular_map.ktx2"),
})
